div {
  height: 50px;
  display: inline-block;
  border: gray solid 3px;
}
#left {
  width: 100px;
  color: white;
  background-color: #00009b;
  border: gray solid 3px;
}
#right {
  width: 90px;
  color: white;
  background-color: blue;
  border: gray solid 3px;
}
